#particles-js{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

}

footer{
    position: relative;
    min-height: 100vh;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li{
    list-style: none;
}

footer .social_icon li a
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);

}

footer .menu li a
{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity:1;

}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px
}

footer .wave#wave1{
    z-index:1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index:999;
    opacity: 0.5;
    bottom: 10px;;
    animation: animateWave2 4s linear infinite;
}

footer .wave#wave3{
    z-index:1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave2{
    z-index:999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}

@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }

    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave2 {
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: 1000px;
    }
}

.container:hover .card{
    filter: blur(1px);
    transform: scale(0.9);
    opacity: 0.5;
}

.container .card:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

h2{
    position: relative;
    font-size: 14vw;
    color: white;
    -webkit-text-stroke: 0.1vw #0275d8;
}

h2::before{
    position: absolute;
    content: attr(data-text);
    width: 0%;
    height: 100%;
    color: #0275d8;
    -webkit-text-stroke: 0vw #0275d8;
    border-right: 2px solid #0275d8;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate
{
    0%{
        width: 0%;
    }
    70%{
        width: 70%;
    }
}




